<footer>
  
  <div class="footer">
    <a href="/">Qui sommes-nous?</a><br><br>
    <a href="/contact.ejs">Contactez-nous</a><br><br><br>
    <p>&copy; 2024 DANTICAM. Tous droits réservés.</p>
  </div>

  <script src="script.js"></script>
</footer>
</body>


</html>