
    <nav>
      <div class="nav">
        <a href="accueil.ejs">Accueil</a>
        <a href="produits.ejs">Produits</a>
        <a href="promotions.ejs">Promotions</a>
        <a href="temoignages.ejs">Témoignages</a>
        <a href="/views/blog.ejs">Blog</a>
        <a href="connexion.ejs">Connexion</a>
        <a href="contact.ejs">Contact</a>
        <a href="#">Compte</a>
        <a href="#">Panier</a>
      </div>
    </nav>
  </body>
</html>
