<%- include("partials/header.ejs") %>
<main>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicateurs -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>

    <!-- Slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://cdn.pixabay.com/photo/2016/11/29/02/07/drone-1866742_1280.jpg"
          class="d-block w-100"
          alt="Slide 1"
        />
        <div class="carousel-caption d-none d-md-block mb-5">
          <h5>DRONE ULTRA POWERFULL HKME500</h5>
          <p>50% off only for today !.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://cdn.pixabay.com/photo/2023/11/14/15/46/nikon-8388022_640.jpg"
          class="d-block w-100"
          alt="Slide 2"
        />
        <div class="carousel-caption d-none d-md-block mb-5">
          <h5>Deuxième Image</h5>
          <p>Description de la deuxième image.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://cdn.pixabay.com/photo/2016/11/30/18/11/multicopter-1873532_1280.jpg"
          class="d-block w-100"
          alt="Slide 3"
        />
        <div class="carousel-caption d-none d-md-block mb-5">
          <h5>Troisième Image</h5>
          <p>Description de la troisième image.</p>
        </div>
      </div>
    </div>

    <!-- Contrôles -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Précédent</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Suivant</span>
    </button>
  </div>
</main>
<%- include("partials/footer.ejs") %>
