<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <a href="projet.html">Accueil</a>
        <a href="produits.html">Produits</a>
        <a href="promotions.php">Promotions</a>
        <a href="temoignages.html">Témoignages</a>
        <a href="blog.html">Blog</a>
        <a href="#">Compte</a>
        <a href="#">Panier</a>
    </div>
</body>
</html>